aws-infrastructure/modules/step_function/definition_templates/csv-download-request-definition.json
{
  "StartAt": "Choose download type",
  "States": {
    "Choose download type": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.type",
          "StringEquals": "email",
          "Next": "Email report request"
        },
        {
          "Variable": "$.type",
          "StringEquals": "direct",
          "Next": "Direct download of report"
        },
        {
          "Variable": "$.type",
          "StringEquals": "push",
          "Next": "Generate and push notification"
        }
      ]
    },
    "Email report request": {
      "Type": "Pass",
      "Next": "Publish request to SNS"
    },
    "Direct download of report": {
      "Type": "Pass",
      "End": true
    },
    "Generate and push notification": {
      "Type": "Pass",
      "End": true
    },
    "Publish request to SNS": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "${download-requests-topic-arn}",
        "Message.$": "$"
      },
      "End": true
    }
  }
}
