aws-infrastructure/modules/step_function/definition_templates/csv-download-request-definition.json
{
  "StartAt": "Choose download type",
  "States": {
    "Choose download type": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.type",
          "StringEquals": "email",
          "Next": "Email report request"
        },
        {
          "Variable": "$.type",
          "StringEquals": "direct",
          "Next": "Direct download of report"
        },
        {
          "Variable": "$.type",
          "StringEquals": "push",
          "Next": "Generate and push notification"
        }
      ]
    },
    "Email report request": {
      "Type": "Pass",
      "Next": "Generate CSV Report for email"
    },
    "Generate CSV Report for email": {
      "Type": "Task",
      "Resource": "${report-generator-arn}",
      "ResultPath": "$.reportOutput",
      "Next": "Email CSV Report link to user"
    },
    "Email CSV Report link to user": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${send-email-arn}",
        "Payload": {
          "email" : {
            "to.$": "$.parameters.emailAddress",
            "subject": "CSV Email report",
            "reportURL.$": "$.reportOutput.reportURL"
          }
        }
      },
      "End": true
    },
    "Direct download of report": {
      "Type": "Pass",
      "Next": "Generate CSV Report for direct download"
    },
    "Generate CSV Report for direct download": {
      "Type": "Task",
      "Resource": "${report-generator-arn}",
      "ResultPath": "$.reportOutput",
      "OutputPath": "$.reportOutput",
      "End": true
    },
    "Generate and push notification": {
      "Type": "Pass",
      "End": true
    }
  }
}
